extends layout

block content
    h1 Uh oh...
    div.container
        p.
            Looks like you wanted to do something, <b> #{type}</b>, but things just aren't going your way today.  Please try again
    a(href='/') nth times the charm!
