extends layout

block content
    if userInfo
        div.container
            p.
                Hello, #{userInfo.first_name}
            a.btn.btn-default(href='/user/logout', name='logout') Logout
            a.btn.btn-default(href='/user/friends', name='friends') View Friends
    else 
        div.container
            div.btn-group
                a.btn.btn-primary(href='/login', name='login') Login!
                a.btn.btn-default(href='/create', name='create') Signup!
    div.container
        div.jumbotron
            h1 Welcome to CS460 Picture share
            
