extends layout

block content
    script(src='/javascripts/upload.js')
    div.container
        h1 Upload a photo! #{a}
        div.btn-group(id = 'menu')
            button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false') Choose an album <span class='caret'></span>
            ul.dropdown-menu(role='menu')
                each album in albums
                    li
                        a.selection(href='#', name != album.album_id, id='album') #{album.name}
                li.divider
                li
                    a(href='#', id='createnew') Create New Album
        form.form-group(method='post', action='/album/add', id='upload-form', enctype='multipart/form-data')
            input(type = 'hidden', name='name', id='album-name')
            label(for='caption') Enter a caption (less than 50 characters)
            input(type='text', name='caption', id='caption')
            label(for='tags') Enter Tags (separated by a comma)
            input(type='text', name='tags', id='tags')
            label(for='photo') Choose a file
            input(type='file', name='photoFile', id='photo')
            button.btn.btn-default(type='submit') Upload!
        
