body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-nav{
    margin-right: 2px;
    margin-left: 2px;
}

.tags{
    font-size: 10px;
}

.img{
    width: 100%;
    max-width: 600px;
}
